@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Open+Sans&family=Poppins&family=Roboto&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

::selection{
    background-color: #b2eeff;
}

.maindiv{
    height: 100vh;
    background-color: rgb(233, 233, 233);
    /* background: linear-gradient(45deg, #c0c494, #c2c698); */
    overflow-y: scroll;
    /* filter: invert(100%); */
}

.maindiv::-webkit-scrollbar{
    display: none;
}

.text-bold{
    font-weight: bold;
}

html{
    font-size: 62.88%;
}

@media (max-width: 992px) {
    html{
        font-size: 55%;
    }
}

@media (max-width: 768px){
    html{
        font-size: 45%;
    }
}


/* footer */
footer{
    margin-top: 2rem;
    padding: 1rem;
    font-weight: bold;
    text-align: center;
    font-size: 2rem;
    background-color: white;
}

